.first
{
    padding-top: 3%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
}
.title
{
    text-align: center;
}
.carousel-content
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    grid-gap: 50px;
    max-width: 100vw;
    padding: 40px;
    padding-top: 60px;
    margin-bottom: 50px;
    height: 100%;
    line-height: 1rem;
}
.c-img
{
    max-width: 50vw;
}
.carousel-indicators
{
    text-align: end;
}
#img-poster{
    width: 100%;
    border-color: #fdc40a;
    border-style: double;
    border-width: 7px;
    border-radius: 20px;
    height: 20rem;
    
}
.carousel-details
{
    max-width: 50vw;
    max-height: 100%;
}
@media screen and (max-width: 900px)
{
    .carousel
    {
        width: 100%;
    }
    .carousel-content
    {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        padding: 40px;
        padding-top: 60px;
        margin-bottom: 50px;
        height: 100%;
        line-height: 1rem;
    }
    .carousel-details
    {
        display: none;
        width:0vw;
    }
    .c-img{
        max-width: 100vw;
    }
}